.none-view-scroll::-webkit-scrollbar {
     display: none;
}

.active {
     color: blue;
     background-color: #bfdbfe;
}

.css-c7qa1g-MuiChartsWrapper-root {
     color: black;
     display: flex !important;
}

.css-13cymwt-control {
     border-radius: 10px !important;
     background-color: #e5e7eb !important;
}

.css-1u9des2-indicatorSeparator {
     display: none;
}

.css-13cymwt-control {
     border-radius: 10px !important;
}

.css-b62m3t-container {
     border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
}

.react-tel-input{
     height: 100%;
}

.glass{
     /* From https://css.glass */
     background: rgba(255, 255, 255, 0.28);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(11.3px);
     -webkit-backdrop-filter: blur(11.3px);
     border: 1px solid rgba(255, 255, 255, 0.17);
}