@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cairo;
  src: url(./fonts/Cairo-Regular.ttf);
}

body {
  height: 100vh;
  margin: 0;
  font-family: cairo !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
